
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Dipendente selezionato</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectedOption($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.fullName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Annulla</button>
  <button mat-button [mat-dialog-close]="selectedDipendente" class="btn btn-success">Aggiungi</button>
</mat-dialog-actions>
