<div>
  <div class="submit-form">
    <div class="form-group">
      <label for="nome">Codice*</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        required
        [(ngModel)]="progetto.nome"
        name="nome"
      />
    </div>
    <div class="form-group">
      <label for="descrizione">Descrizione*</label>
      <input
        type="text"
        class="form-control"
        id="descrizione"
        required
        [(ngModel)]="progetto.descrizione"
        name="descrizione"
      />
    </div>
    <mat-dialog-actions align="end">
      <button mat-button [mat-dialog-close]="false">Annulla</button>
      <button (click)="save()" mat-button [mat-dialog-close]="true" class="btn btn-success">Salva</button>
    </mat-dialog-actions>
  </div>
</div>


