<mat-grid-list cols="13" rowHeight="fit">
  <mat-grid-tile [colspan]="13" [rowspan]="1" class="title">
    <mat-grid-tile-header>Programmato mensile</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <div class="ore">{{programmato.gennaio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <div class="ore">{{programmato.febbraio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <div class="ore">{{programmato.marzo}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <div class="ore">{{programmato.aprile}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <div class="ore">{{programmato.maggio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <div class="ore">{{programmato.giugno}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <div class="ore">{{programmato.luglio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <div class="ore">{{programmato.agosto}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <div class="ore">{{programmato.settembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <div class="ore">{{programmato.ottobre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <div class="ore">{{programmato.novembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <div class="ore">{{programmato.dicembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div></div>
      <div class="ore">{{this.totaleProgrammato}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="13" [rowspan]="1" class="title">
    <mat-grid-tile-header>Fatturato mensile</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <div class="ore">{{fatturato.gennaio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <div class="ore">{{fatturato.febbraio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <div class="ore">{{fatturato.marzo}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <div class="ore">{{fatturato.aprile}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <div class="ore">{{fatturato.maggio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <div class="ore">{{fatturato.giugno}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <div class="ore">{{fatturato.luglio}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <div class="ore">{{fatturato.agosto}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <div class="ore">{{fatturato.settembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <div class="ore">{{fatturato.ottobre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <div class="ore">{{fatturato.novembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <div class="ore">{{fatturato.dicembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div></div>
      <div class="ore">{{this.totaleFatturato}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1" class="title">
    <mat-grid-tile-header>Andamento totale</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div></div>
      <div class="ore">{{this.andamento | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

