<mat-grid-list cols="14" rowHeight="fit">
  <mat-grid-tile class="nome-dipendente" [colspan]="1" [rowspan]="1">{{dipendente}}</mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div>Pianificato</div>
      <div class="ore">{{programmato.gennaio + programmato.febbraio + programmato.marzo + programmato.aprile
      + programmato.maggio + programmato.giugno + programmato.luglio + programmato.agosto +
      programmato.settembre + programmato.ottobre + programmato.novembre + programmato.dicembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      {{programmato.gennaio}}
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.febbraio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.marzo"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.aprile"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.maggio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.giugno"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.luglio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.agosto"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.settembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.ottobre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.novembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.dicembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
</mat-grid-list>

