<mat-grid-list cols="13" rowHeight="fit">
  <mat-grid-tile class="nome-dipendente" [colspan]="1" [rowspan]="6">{{nomeDipendente}}</mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1" class="title">
    <mat-grid-tile-header>Programmato</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.gennaio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.febbraio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.marzo"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.aprile"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.maggio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.giugno"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.luglio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.agosto"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.settembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.ottobre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.novembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <input type="number" class="form-control input" [(ngModel)]="programmato.dicembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1" class="title">
    <mat-grid-tile-header>Fatturato</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.gennaio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.febbraio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.marzo"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.aprile"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.maggio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.giugno"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.luglio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.agosto"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.settembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.ottobre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.novembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <input type="number" class="form-control input" [(ngModel)]="fatturato.dicembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="12" [rowspan]="1" class="title">
    <mat-grid-tile-header>Andamento mensile</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <div class="ore">{{andamento.gennaio | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <div class="ore">{{andamento.febbraio | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <div class="ore">{{andamento.marzo | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <div class="ore">{{andamento.aprile | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <div class="ore">{{andamento.maggio | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <div class="ore">{{andamento.giugno | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <div class="ore">{{andamento.luglio | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <div class="ore">{{andamento.agosto | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <div class="ore">{{andamento.settembre | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <div class="ore">{{andamento.ottobre | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <div class="ore">{{andamento.novembre | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <div class="ore">{{andamento.dicembre | number : '1.1-1'}}%</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
