<mat-grid-list cols="15" rowHeight="fit">
  <mat-grid-tile class="nome-dipendente" [colspan]="1" [rowspan]="6">{{nomeDipendente}}</mat-grid-tile>
  <mat-grid-tile [colspan]="13" [rowspan]="1" class="title">
    <mat-grid-tile-header>Programmato</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="6">
    <button (click)="sendDeleteEvent()" mat-button color="warn">
      <mat-icon aria-hidden="false" aria-label="elimina" fontIcon="delete"></mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.gennaio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.febbraio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.marzo"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.aprile"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.maggio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.giugno"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.luglio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.agosto"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.settembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.ottobre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.novembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="programmato.dicembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div></div>
      <div class="ore">{{programmato.gennaio + programmato.febbraio + programmato.marzo + programmato.aprile
        + programmato.maggio + programmato.giugno + programmato.luglio + programmato.agosto +
        programmato.settembre + programmato.ottobre + programmato.novembre + programmato.dicembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="13" [rowspan]="1" class="title">
    <mat-grid-tile-header>Fatturato</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.gennaio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.febbraio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.marzo"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.aprile"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.maggio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.giugno"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.luglio"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.agosto"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.settembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.ottobre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.novembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <input type="number" min="0" class="form-control input" [(ngModel)]="fatturato.dicembre"/>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div></div>
      <div class="ore">{{fatturato.gennaio + fatturato.febbraio + fatturato.marzo + fatturato.aprile
      + fatturato.maggio + fatturato.giugno + fatturato.luglio + fatturato.agosto +
      fatturato.settembre + fatturato.ottobre + fatturato.novembre + fatturato.dicembre}}</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="13" [rowspan]="1" class="title">
    <mat-grid-tile-header>Andamento mensile</mat-grid-tile-header>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Gennaio </div>
      <div class="ore">{{programmato.gennaio===0?0:(fatturato.gennaio/programmato.gennaio*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Febbraio </div>
      <div class="ore">{{programmato.febbraio===0?0:(fatturato.febbraio/programmato.febbraio*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Marzo </div>
      <div class="ore">{{programmato.marzo===0?0:(fatturato.marzo/programmato.marzo*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Aprile </div>
      <div class="ore">{{programmato.aprile===0?0:(fatturato.aprile/programmato.aprile*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Maggio </div>
      <div class="ore">{{programmato.maggio===0?0:(fatturato.maggio/programmato.maggio*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Giugno </div>
      <div class="ore">{{programmato.giugno===0?0:(fatturato.giugno/programmato.giugno*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Luglio </div>
      <div class="ore">{{programmato.luglio===0?0:(fatturato.luglio/programmato.luglio*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Agosto </div>
      <div class="ore">{{programmato.agosto===0?0:(fatturato.agosto/programmato.agosto*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Settembre </div>
      <div class="ore">{{programmato.settembre===0?0:(fatturato.settembre/programmato.settembre*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Ottobre </div>
      <div class="ore">{{programmato.ottobre===0?0:(fatturato.ottobre/programmato.ottobre*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Novembre </div>
      <div class="ore">{{programmato.novembre===0?0:(fatturato.novembre/programmato.novembre*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="mese">
      <div> Dicembre </div>
      <div class="ore">{{programmato.dicembre===0?0:(fatturato.dicembre/programmato.dicembre*100) | number : digitsInfo}}%</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
</mat-grid-list>
