<mat-toolbar color="primary">
  <button (click)="sidebarmenu.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gestione Pianificazione</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidebarmenu>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/riepilogo'" matTooltip="Riepilogo">
        <mat-icon>home</mat-icon>
      </a>
      <a mat-list-item [routerLink]="'/pianificato'" matTooltip="Pianificazione">
        <mat-icon>event_note</mat-icon>
      </a>
      <a mat-list-item [routerLink]="'/dipendenti'" matTooltip="Gestisci dipendenti">
        <mat-icon>perm_identity</mat-icon>
      </a>
      <a mat-list-item [routerLink]="'/progetto'" matTooltip="Gestisci progetti">
        <mat-icon>business</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
