<mat-toolbar color="primary">
  <button *ngIf="isLoggedIn" (click)="sidebarmenu.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gestione Pianificazione</span>
  <span class="example-spacer"></span>
  <button matTooltip="Logout" matTooltipPosition="below" mat-button *ngIf="isLoggedIn" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidebarmenu class="primary">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/riepilogo'" matTooltip="Riepilogo" matTooltipPosition="right">
        <mat-icon class="color-white">home</mat-icon>
      </a>
      <a mat-list-item [routerLink]="'/pianificato'" matTooltip="Pianificazione" matTooltipPosition="right">
        <mat-icon class="color-white">event_note</mat-icon>
      </a>
      <a mat-list-item [routerLink]="'/dipendenti'" matTooltip="Gestisci dipendenti" matTooltipPosition="right">
        <mat-icon class="color-white">perm_identity</mat-icon>
      </a>
      <a mat-list-item [routerLink]="'/progetto'" matTooltip="Gestisci progetti" matTooltipPosition="right">
        <mat-icon class="color-white">business</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
