<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="nome"
      />
      <div class="input-group-append">
        <!--<button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>-->
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Dipendenti</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let dipendente of dipendenti; let i = index"
        [class.active]="i == currentIndex"
      >
        <input type="text" class="form-control"
               [(ngModel)]="dipendente.nome"/>
        <input type="text" class="form-control"
               [(ngModel)]="dipendente.cognome"/>
        <button class="m-3 btn btn-sm" (click)="updateDipendente(dipendente)">
          <mat-icon aria-hidden="false" aria-label="save" fontIcon="save"></mat-icon>
        </button>
        <button class="btn mr-3 btn-sm" (click)="deleteDipendente(dipendente.id)">
          <mat-icon aria-hidden="false" aria-label="elimina" fontIcon="delete"></mat-icon>
        </button>
      </li>
    </ul>
<!--    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
      Remove All
    </button>-->
  </div>
  <div class="col-md-6">
<!--    <app-edit-dipendente
      [viewMode]="true"
      [currentDipendente]="currentDipendente"
    ></app-edit-dipendente>-->
  </div>
</div>

