<div class="margin-top example-container">
  <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
  <table *ngIf="!loader" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Dipendente">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let riepilogo" class="purple"> {{riepilogo.dipendente}} </td>
    </ng-container>
    <ng-container matColumnDef="Pianificato">
      <th mat-header-cell *matHeaderCellDef>Pianificato</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.pianificato}} </td>
    </ng-container>
    <ng-container matColumnDef="Gennaio">
      <th mat-header-cell *matHeaderCellDef>Gennaio</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.gennaio}} </td>
    </ng-container>
    <ng-container matColumnDef="Febbraio">
      <th mat-header-cell *matHeaderCellDef>Febbraio</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.febbraio}} </td>
    </ng-container>
    <ng-container matColumnDef="Marzo">
      <th mat-header-cell *matHeaderCellDef>Marzo</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.marzo}} </td>
    </ng-container>
    <ng-container matColumnDef="Aprile">
      <th mat-header-cell *matHeaderCellDef>Aprile</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.aprile}} </td>
    </ng-container>
    <ng-container matColumnDef="Maggio">
      <th mat-header-cell *matHeaderCellDef>Maggio</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.maggio}} </td>
    </ng-container>
    <ng-container matColumnDef="Giugno">
      <th mat-header-cell *matHeaderCellDef>Giugno</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.giugno}} </td>
    </ng-container>
    <ng-container matColumnDef="Luglio">
      <th mat-header-cell *matHeaderCellDef>Luglio</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.luglio}} </td>
    </ng-container>
    <ng-container matColumnDef="Agosto">
      <th mat-header-cell *matHeaderCellDef>Agosto</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.agosto}} </td>
    </ng-container>
    <ng-container matColumnDef="Settembre">
      <th mat-header-cell *matHeaderCellDef>Settembre</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.settembre}} </td>
    </ng-container>
    <ng-container matColumnDef="Ottobre">
      <th mat-header-cell *matHeaderCellDef>Ottobre</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.ottobre}} </td>
    </ng-container>
    <ng-container matColumnDef="Novembre">
      <th mat-header-cell *matHeaderCellDef>Novembre</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.novembre}} </td>
    </ng-container>
    <ng-container matColumnDef="Dicembre">
      <th mat-header-cell *matHeaderCellDef>Dicembre</th>
      <td mat-cell *matCellDef="let riepilogo" class="align-number"> {{riepilogo.programmato.dicembre}} </td>
    </ng-container>
    <ng-container matColumnDef="progetti">
      <th mat-header-cell *matHeaderCellDef>Commesse sulle quali lavora (riepilogo)</th>
      <td mat-cell *matCellDef="let riepilogo"> {{riepilogo.progetti}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nessun risultato</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of riepilogo"></mat-paginator>
</div>
